# Modeling exercise

## General Instructions

* Submission date: 14.5.2023
* Submission Method: Link to your solution notebook in [this sheet](https://docs.google.com/spreadsheets/d/1GNPESGIhJpPb7LwMAyjF5qpJfZQak_mLkE3i5Y7a_VA/edit?usp=sharing).

In [1]:
import sys; sys.path.append('../src')
import numpy as np
import plotly_express as px

In [2]:
import pandas as pd
import ipywidgets as widgets

In [3]:
from datasets import make_circles_dataframe, make_moons_dataframe

## Fitting and Overfiting

The goal of the following exercise is to:
* Observe overfitting due to insuffient data
* Observe Overfitting due to overly complex model
* Identify the overfitting point by looking at Train vs Test error dynamic
* Observe how noise levels effect the needed data samples and model capacity

To do so, you'll code an experiment in the first part, and analyze the experiment result in the second part.

### Building an experiment

Code:

1. Create data of size N with noise level of magnitude NL from datasets DS_NAME. 
1. Split it to training and validation data (no need for test set), use 80%-20%. 
1. Use Logistic regression and Choose one complex model of your choice: [KNN](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html), [SVM with RBF kernel](https://scikit-learn.org/stable/modules/svm.html) with different `gamma` values or [Random forest classifier](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html) with differnt number of `min_samples_split`. 
1. Train on the train set for different hyper parameter values. compute:
   1. Classification accuracy on the training set (TRE)
   1. Classification accuracy on the validation set (TESTE)
   1. The difference beteen the two above (E_DIFF)
1. Save DS_NAME, N, NL, CLF_NAME, K, TRE, TESTE, E_DIFF and the regularization/hyper param (K, gamma or min_samples_split and regularization value for the linear regression classifier)

Repeat for:
* DS_NAME in Moons, Circles
* N (number of samples) in [5, 10, 50, 100, 1000, 10000]
* NL (noise level) in [0, 0.1, 0.2, 0.3, 0.4, 0.5]
* For the complex model: 10 Values of hyper parameter of the complex model you've chosen.
* For the linear model: 5 values of ridge (l2) regularization - [0.001, 0.01, 0.1, 1, 10, 100, 1000]

In [12]:
# creating dataframe with data
from sklearn.datasets import make_moons, make_circles
import pandas as pd

final_data_df = pd.DataFrame()

for NL in [0, 0.1, 0.2, 0.3, 0.4, 0.5]:
    moons_df = make_moons_dataframe(n_samples=10000, noise_level=NL)
    moons_df['dataset_name']='moons'
    moons_df['noise_level'] = NL
    circles_df = make_circles_dataframe(n_samples=10000, noise_level=NL)
    circles_df['dataset_name']='circles'
    circles_df['noise_level'] = NL
    final_data_df = pd.concat([final_data_df, moons_df, circles_df])
    # final_data_df = final_data_df.append(circles_df)
        
final_data_df.sample(10)

             x         y label dataset_name  noise_level
1639  0.970604 -0.500103     B        moons          0.4
6840 -0.898489 -0.239119     A        moons          0.3
2594  0.175922 -0.065287     A        moons          0.4
1352  0.161315  0.267074     A        moons          0.4
8253 -0.771376 -0.394124     A      circles          0.1
3831 -0.420880 -0.758746     A      circles          0.2
4659 -0.920118  0.614332     B      circles          0.5
1030  0.721828  0.633085     B      circles          0.1
578  -0.545141  0.960286     A        moons          0.1
1308  2.157169  0.009610     B        moons          0.2

In [18]:
# validating that data created properly
final_data_df.groupby(['dataset_name', 'noise_level']).x.count()

dataset_name  noise_level
circles       0.0            10000
              0.1            10000
              0.2            10000
              0.3            10000
              0.4            10000
              0.5            10000
moons         0.0            10000
              0.1            10000
              0.2            10000
              0.3            10000
              0.4            10000
              0.5            10000
Name: x, dtype: int64

In [33]:
# splitting to train and validation set
from sklearn.model_selection import train_test_split
for ds_type in ['moons','circles']:
    print(f'Working on {ds_type}')
    for nl in [0, 0.1, 0.2, 0.3, 0.4, 0.5]:
        for n in [5, 10, 50, 100, 1000, 10000]:
            query_text = f"dataset_name == '{ds_type}' & noise_level == {nl}" 
            ds = final_data_df.query(query_text).head(n)
            train_set, validation_set = train_test_split(ds,test_size = 0.2,random_state=3)
            # logistic regression
            for regularization_value in regularization_values:
                train_acc, test_acc = <'Your code here'>
                results.append(<'Your code here'>)
            # random forest
            for gamma in hp_range:
                train_acc, test_acc = <'Your code here'>
                results.append(<'Your code here'>)

Working on moons
query text is  dataset_name == 'moons' & noise_level == 0
          x         y label dataset_name  noise_level
0  0.451553  0.892244     A        moons          0.0
1  0.176604  0.984282     A        moons          0.0
2  0.628010 -0.428237     B        moons          0.0
3  1.677063 -0.235925     B        moons          0.0
4  0.000860  0.458535     B        moons          0.0
4
1
query text is  dataset_name == 'moons' & noise_level == 0
          x         y label dataset_name  noise_level
0  0.451553  0.892244     A        moons          0.0
1  0.176604  0.984282     A        moons          0.0
2  0.628010 -0.428237     B        moons          0.0
3  1.677063 -0.235925     B        moons          0.0
4  0.000860  0.458535     B        moons          0.0
5  0.332587  0.943072     A        moons          0.0
6  0.948480  0.316836     A        moons          0.0
7  1.928354  0.128302     B        moons          0.0
8  0.999997  0.002514     A        moons          0.0
9  1.899914  0.063934     B        moons          0.0
8
2
query text is  dataset_name == 'moons' & noise_level == 0
           x         y label dataset_name  noise_level
0   0.451553  0.892244     A        moons          0.0
1   0.176604  0.984282     A        moons          0.0
2   0.628010 -0.428237     B        moons          0.0
3   1.677063 -0.235925     B        moons          0.0
4   0.000860  0.458535     B        moons          0.0
5   0.332587  0.943072     A        moons          0.0
6   0.948480  0.316836     A        moons          0.0
7   1.928354  0.128302     B        moons          0.0
8   0.999997  0.002514     A        moons          0.0
9   1.899914  0.063934     B        moons          0.0
10  1.491449 -0.370906     B        moons          0.0
11  0.604285  0.796768     A        moons          0.0
12  1.629508 -0.276994     B        moons          0.0
13  0.464874 -0.344772     B        moons          0.0
14 -0.999730  0.023250     A        moons          0.0
15  0.734861  0.678218     A        moons          0.0
16  1.185875 -0.482573     B        moons          0.0
17  1.976588  0.284881     B        moons          0.0
18  0.829479  0.558539     A        moons          0.0
19 -0.571243  0.820781     A        moons          0.0
20  0.389423  0.921059     A        moons          0.0
21  0.220441 -0.126328     B        moons          0.0
22  0.013525  0.336091     B        moons          0.0
23  1.971023  0.261013     B        moons          0.0
24  1.788531 -0.114995     B        moons          0.0
25  1.757039 -0.153370     B        moons          0.0
26  0.047612  0.195110     B        moons          0.0
27  0.325717 -0.238473     B        moons          0.0
28 -0.985211  0.171344     A        moons          0.0
29  0.304202 -0.218238     B        moons          0.0
30  1.509944 -0.360207     B        moons          0.0
31  1.920200  0.108552     B        moons          0.0
32 -0.927651  0.373447     A        moons          0.0
33 -0.957060  0.289890     A        moons          0.0
34  0.576132 -0.405724     B        moons          0.0
35 -0.777192  0.629263     A        moons          0.0
36  0.000215  0.479263     B        moons          0.0
37  1.257554 -0.466264     B        moons          0.0
38  0.582536  0.812805     A        moons          0.0
39  1.368487 -0.429633     B        moons          0.0
40  0.983779  0.179387     A        moons          0.0
41 -0.193279  0.981144     A        moons          0.0
42  0.797337  0.603534     A        moons          0.0
43  1.998919  0.453512     B        moons          0.0
44  0.045903  0.200501     B        moons          0.0
45  0.912400  0.409299     A        moons          0.0
46 -0.833667  0.552267     A        moons          0.0
47  0.010793  0.353474     B        moons          0.0
48  0.001782  0.440333     B        moons          0.0
49  0.098193  0.995167     A        moons          0.0
40
10
query text is  dataset_name == 'moons' & noise_level == 0
           x         y label dataset_name  noise_level
0   0.451553  0.892244     A        moons          0.0
1   0.176604  0.984282     A        moons          0.0
2   0.628010 -0.428237     B        moons          0.0
3   1.677063 -0.235925     B        moons          0.0
4   0.000860  0.458535     B        moons          0.0
..       ...       ...   ...          ...          ...
95  1.331402 -0.443490     B        moons          0.0
96  1.261196 -0.465286     B        moons          0.0
97  0.457710  0.889101     A        moons          0.0
98  0.713190  0.700970     A        moons          0.0
99 -0.993029  0.117873     A        moons          0.0

[100 rows x 5 columns]
80
20
query text is  dataset_name == 'moons' & noise_level == 0
            x         y label dataset_name  noise_level
0    0.451553  0.892244     A        moons          0.0
1    0.176604  0.984282     A        moons          0.0
2    0.628010 -0.428237     B        moons          0.0
3    1.677063 -0.235925     B        moons          0.0
4    0.000860  0.458535     B        moons          0.0
..        ...       ...   ...          ...          ...
995 -0.581003  0.813902     A        moons          0.0
996  0.995501  0.094753     A        moons          0.0
997  0.718240 -0.459485     B        moons          0.0
998  0.624513 -0.426828     B        moons          0.0
999  0.909940 -0.495936     B        moons          0.0

[1000 rows x 5 columns]
800
200
query text is  dataset_name == 'moons' & noise_level == 0
             x         y label dataset_name  noise_level
0     0.451553  0.892244     A        moons          0.0
1     0.176604  0.984282     A        moons          0.0
2     0.628010 -0.428237     B        moons          0.0
3     1.677063 -0.235925     B        moons          0.0
4     0.000860  0.458535     B        moons          0.0
...        ...       ...   ...          ...          ...
9995 -0.881059  0.473007     A        moons          0.0
9996 -0.628042  0.778180     A        moons          0.0
9997  0.089669  0.086119     B        moons          0.0
9998  0.059997  0.158833     B        moons          0.0
9999  1.690816 -0.223031     B        moons          0.0

[10000 rows x 5 columns]
8000
2000
query text is  dataset_name == 'moons' & noise_level == 0.1
          x         y label dataset_name  noise_level
0  1.736269  0.496442     B        moons          0.1
1 -0.102202  1.072590     A        moons          0.1
2  1.512326 -0.227182     B        moons          0.1
3  0.122635  1.082436     A        moons          0.1
4 -0.671260  0.635316     A        moons          0.1
4
1
query text is  dataset_name == 'moons' & noise_level == 0.1
          x         y label dataset_name  noise_level
0  1.736269  0.496442     B        moons          0.1
1 -0.102202  1.072590     A        moons          0.1
2  1.512326 -0.227182     B        moons          0.1
3  0.122635  1.082436     A        moons          0.1
4 -0.671260  0.635316     A        moons          0.1
5  0.844462 -0.557090     B        moons          0.1
6 -0.808629  0.503003     A        moons          0.1
7 -0.560398  0.575178     A        moons          0.1
8 -0.947336  0.187051     A        moons          0.1
9  2.205706  0.346401     B        moons          0.1
8
2
query text is  dataset_name == 'moons' & noise_level == 0.1
           x         y label dataset_name  noise_level
0   1.736269  0.496442     B        moons          0.1
1  -0.102202  1.072590     A        moons          0.1
2   1.512326 -0.227182     B        moons          0.1
3   0.122635  1.082436     A        moons          0.1
4  -0.671260  0.635316     A        moons          0.1
5   0.844462 -0.557090     B        moons          0.1
6  -0.808629  0.503003     A        moons          0.1
7  -0.560398  0.575178     A        moons          0.1
8  -0.947336  0.187051     A        moons          0.1
9   2.205706  0.346401     B        moons          0.1
10  1.878240 -0.135874     B        moons          0.1
11  0.595506  0.868603     A        moons          0.1
12  0.705517 -0.596034     B        moons          0.1
13  0.156191  0.059485     B        moons          0.1
14 -0.241914  1.007980     A        moons          0.1
15  0.963221 -0.575447     B        moons          0.1
16  1.772630 -0.354996     B        moons          0.1
17  1.623322 -0.236001     B        moons          0.1
18  1.595491 -0.378969     B        moons          0.1
19 -0.597878  0.740464     A        moons          0.1
20  1.232066 -0.507793     B        moons          0.1
21  0.714590 -0.516638     B        moons          0.1
22 -0.983733  0.708125     A        moons          0.1
23  0.513055 -0.479997     B        moons          0.1
24  0.208654 -0.113656     B        moons          0.1
25  0.741787  0.402027     A        moons          0.1
26  0.881747 -0.004340     A        moons          0.1
27  1.617807 -0.395908     B        moons          0.1
28 -0.077626  1.140885     A        moons          0.1
29  0.121803  0.137604     B        moons          0.1
30  1.206771 -0.589088     B        moons          0.1
31  0.474990 -0.325180     B        moons          0.1
32  0.410567  0.783519     A        moons          0.1
33 -0.734330  0.506622     A        moons          0.1
34  0.314716 -0.193253     B        moons          0.1
35  0.888519  0.144521     A        moons          0.1
36  0.072753  0.993074     A        moons          0.1
37  0.991640  0.127372     A        moons          0.1
38  0.243028 -0.011090     B        moons          0.1
39 -0.504579  0.688063     A        moons          0.1
40  0.451812  0.726350     A        moons          0.1
41  1.876707 -0.079928     B        moons          0.1
42 -0.428298  0.911650     A        moons          0.1
43  0.415009 -0.219363     B        moons          0.1
44 -0.801181  0.728878     A        moons          0.1
45  2.108005  0.184737     B        moons          0.1
46  0.914971  0.071943     A        moons          0.1
47  2.060669  0.205688     B        moons          0.1
48  1.742389 -0.249324     B        moons          0.1
49 -0.689413  0.572199     A        moons          0.1
40
10
query text is  dataset_name == 'moons' & noise_level == 0.1
           x         y label dataset_name  noise_level
0   1.736269  0.496442     B        moons          0.1
1  -0.102202  1.072590     A        moons          0.1
2   1.512326 -0.227182     B        moons          0.1
3   0.122635  1.082436     A        moons          0.1
4  -0.671260  0.635316     A        moons          0.1
..       ...       ...   ...          ...          ...
95  0.587897  1.074686     A        moons          0.1
96  1.989890 -0.093186     B        moons          0.1
97  0.173462  1.075585     A        moons          0.1
98  0.280912  0.081503     B        moons          0.1
99  1.542871 -0.119038     B        moons          0.1

[100 rows x 5 columns]
80
20
query text is  dataset_name == 'moons' & noise_level == 0.1
            x         y label dataset_name  noise_level
0    1.736269  0.496442     B        moons          0.1
1   -0.102202  1.072590     A        moons          0.1
2    1.512326 -0.227182     B        moons          0.1
3    0.122635  1.082436     A        moons          0.1
4   -0.671260  0.635316     A        moons          0.1
..        ...       ...   ...          ...          ...
995 -0.821934  0.289568     A        moons          0.1
996  1.261588 -0.485337     B        moons          0.1
997  1.299554 -0.491642     B        moons          0.1
998  1.504831 -0.267192     B        moons          0.1
999  1.941377  0.304778     B        moons          0.1

[1000 rows x 5 columns]
800
200
query text is  dataset_name == 'moons' & noise_level == 0.1
             x         y label dataset_name  noise_level
0     1.736269  0.496442     B        moons          0.1
1    -0.102202  1.072590     A        moons          0.1
2     1.512326 -0.227182     B        moons          0.1
3     0.122635  1.082436     A        moons          0.1
4    -0.671260  0.635316     A        moons          0.1
...        ...       ...   ...          ...          ...
9995  0.581848 -0.435876     B        moons          0.1
9996 -0.087509  1.058857     A        moons          0.1
9997  0.287381 -0.089125     B        moons          0.1
9998 -0.904583  0.298289     A        moons          0.1
9999  1.254680 -0.423698     B        moons          0.1

[10000 rows x 5 columns]
8000
2000
query text is  dataset_name == 'moons' & noise_level == 0.2
          x         y label dataset_name  noise_level
0 -0.249662  1.120559     A        moons          0.2
1  0.076451  1.015835     A        moons          0.2
2  1.772587  0.639998     B        moons          0.2
3 -1.198671  0.490042     A        moons          0.2
4  0.699521 -0.495465     B        moons          0.2
4
1
query text is  dataset_name == 'moons' & noise_level == 0.2
          x         y label dataset_name  noise_level
0 -0.249662  1.120559     A        moons          0.2
1  0.076451  1.015835     A        moons          0.2
2  1.772587  0.639998     B        moons          0.2
3 -1.198671  0.490042     A        moons          0.2
4  0.699521 -0.495465     B        moons          0.2
5  0.111677  1.260453     A        moons          0.2
6  0.226815  1.102923     A        moons          0.2
7  0.794295  0.546007     A        moons          0.2
8  0.466378  1.064192     A        moons          0.2
9  1.159675 -0.090633     B        moons          0.2
8
2
query text is  dataset_name == 'moons' & noise_level == 0.2
           x         y label dataset_name  noise_level
0  -0.249662  1.120559     A        moons          0.2
1   0.076451  1.015835     A        moons          0.2
2   1.772587  0.639998     B        moons          0.2
3  -1.198671  0.490042     A        moons          0.2
4   0.699521 -0.495465     B        moons          0.2
5   0.111677  1.260453     A        moons          0.2
6   0.226815  1.102923     A        moons          0.2
7   0.794295  0.546007     A        moons          0.2
8   0.466378  1.064192     A        moons          0.2
9   1.159675 -0.090633     B        moons          0.2
10  0.980812  0.544821     A        moons          0.2
11  0.843603 -0.779849     B        moons          0.2
12  1.641900  0.186118     B        moons          0.2
13  1.604477 -0.023684     B        moons          0.2
14 -0.759125  0.685094     A        moons          0.2
15  1.475888 -0.006928     A        moons          0.2
16  2.053290 -0.005387     B        moons          0.2
17  1.068010 -0.688436     B        moons          0.2
18 -0.241817  0.244632     B        moons          0.2
19 -0.004896  0.225867     B        moons          0.2
20  0.317411  1.125541     A        moons          0.2
21  1.820916 -0.367955     B        moons          0.2
22  0.227125  1.298791     A        moons          0.2
23  1.884475 -0.258179     B        moons          0.2
24 -0.934605  0.493035     A        moons          0.2
25  0.401207  0.936066     A        moons          0.2
26  1.833243 -0.228103     B        moons          0.2
27  1.825077 -0.047514     B        moons          0.2
28  0.144197  0.957913     A        moons          0.2
29  0.220832 -0.065707     B        moons          0.2
30  0.074438  0.356684     B        moons          0.2
31 -0.106726  1.039217     A        moons          0.2
32  1.867968 -0.131675     B        moons          0.2
33 -1.336361  0.286266     A        moons          0.2
34  0.094662  0.979876     A        moons          0.2
35  0.131974  0.860353     A        moons          0.2
36  0.319495  0.067816     B        moons          0.2
37  1.076403  0.155127     A        moons          0.2
38  0.331129  0.061137     B        moons          0.2
39 -1.097273  0.698980     A        moons          0.2
40  0.655634 -0.628204     B        moons          0.2
41  0.694813  0.411761     A        moons          0.2
42  1.420704 -0.628897     B        moons          0.2
43  1.028239  0.080842     A        moons          0.2
44  0.920807  0.522791     A        moons          0.2
45 -0.626691  0.814344     A        moons          0.2
46  0.729108 -0.251064     B        moons          0.2
47 -0.865335  0.370565     A        moons          0.2
48 -0.791184 -0.023342     A        moons          0.2
49  1.828474  0.399976     B        moons          0.2
40
10
query text is  dataset_name == 'moons' & noise_level == 0.2
           x         y label dataset_name  noise_level
0  -0.249662  1.120559     A        moons          0.2
1   0.076451  1.015835     A        moons          0.2
2   1.772587  0.639998     B        moons          0.2
3  -1.198671  0.490042     A        moons          0.2
4   0.699521 -0.495465     B        moons          0.2
..       ...       ...   ...          ...          ...
95 -0.981660  0.133596     A        moons          0.2
96  0.240105 -0.302233     B        moons          0.2
97  0.496999 -0.186772     B        moons          0.2
98  1.012046 -0.524839     B        moons          0.2
99 -0.153029  1.024787     A        moons          0.2

[100 rows x 5 columns]
80
20
query text is  dataset_name == 'moons' & noise_level == 0.2
            x         y label dataset_name  noise_level
0   -0.249662  1.120559     A        moons          0.2
1    0.076451  1.015835     A        moons          0.2
2    1.772587  0.639998     B        moons          0.2
3   -1.198671  0.490042     A        moons          0.2
4    0.699521 -0.495465     B        moons          0.2
..        ...       ...   ...          ...          ...
995 -1.259974  0.220043     A        moons          0.2
996  0.790626 -0.180885     B        moons          0.2
997 -0.201648  0.297701     B        moons          0.2
998 -1.125623 -0.192656     A        moons          0.2
999  0.215125 -0.274952     B        moons          0.2

[1000 rows x 5 columns]
800
200
query text is  dataset_name == 'moons' & noise_level == 0.2
             x         y label dataset_name  noise_level
0    -0.249662  1.120559     A        moons          0.2
1     0.076451  1.015835     A        moons          0.2
2     1.772587  0.639998     B        moons          0.2
3    -1.198671  0.490042     A        moons          0.2
4     0.699521 -0.495465     B        moons          0.2
...        ...       ...   ...          ...          ...
9995 -1.063925  0.137371     A        moons          0.2
9996 -0.991172 -0.432627     A        moons          0.2
9997  0.605702  0.771936     A        moons          0.2
9998  0.433155  1.167061     A        moons          0.2
9999  1.336073 -1.004003     B        moons          0.2

[10000 rows x 5 columns]
8000
2000
query text is  dataset_name == 'moons' & noise_level == 0.3
          x         y label dataset_name  noise_level
0  1.169935  0.903557     A        moons          0.3
1  0.699002  0.866782     A        moons          0.3
2  0.658793  0.939398     A        moons          0.3
3 -0.316509  1.142587     A        moons          0.3
4  0.415890  0.930287     A        moons          0.3
4
1
query text is  dataset_name == 'moons' & noise_level == 0.3
          x         y label dataset_name  noise_level
0  1.169935  0.903557     A        moons          0.3
1  0.699002  0.866782     A        moons          0.3
2  0.658793  0.939398     A        moons          0.3
3 -0.316509  1.142587     A        moons          0.3
4  0.415890  0.930287     A        moons          0.3
5 -0.356036  1.138870     A        moons          0.3
6  0.678672  0.281821     A        moons          0.3
7  0.169312  0.096447     B        moons          0.3
8 -0.036174  0.229896     B        moons          0.3
9  1.786175 -0.180999     B        moons          0.3
8
2
query text is  dataset_name == 'moons' & noise_level == 0.3
           x         y label dataset_name  noise_level
0   1.169935  0.903557     A        moons          0.3
1   0.699002  0.866782     A        moons          0.3
2   0.658793  0.939398     A        moons          0.3

### Analysing the expermient results

1. For SVM only, For dataset of size 10k and for each dataset, What are the best model params? How stable is it? 
1. For SVM only, For dataset of size 10k and for each dataset, What is the most stable model and model params? How good is it in comparison to other models? Explain using bias and variance terminoligy.
1. Does regularization help for linear models? consider different datasets sizes. 
1. For a given noise level of your chioce, How does the train, test and difference error changes with increasing data sizes? (answer for svm and LR seperatly)
1. For a given noise level of your chioce, How does the train, test and difference error changes with increasing model complexity? (answer for svm and LR seperatly)
1. Are the noise level effect the number of datapoints needed to reach optimal test results?

Bonus:

* For SVM: Select one dataset and with 0.2 noise level. Identify the optimal model params, and visualize the decision boundry learned. 
  * Hint: Use a grid. See classification models notebook

## Tips and Hints

For buliding the experiment:

* Start with one dataframe holding all the data for both datastes with different noise level. Use the `make_<dataset_name>_dataframe()` functions below, and add two columns, dataset_name and noise_level, before appending the new dataset to the rest of the datasets. Use `df = pd.DataFrame()` to start with an empty dataframe and using a loop, add data to it using `df = df.append(<the needed df here>)`. Verify that you have 10k samples for each dataset type and noise level by a proper `.value_counts()`. You can modify the 
* When you'll need an N samples data with a specific noise level, use `query()` and `head(n)` to get the needed dataset. 
* Use sklearn `train_test_split()` method to split the data with `test_size` and `random_state` parameters set correctly to ensure you are always splitting the data the same why for a given fold `k`. Read [the docs](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html) if needed. 
* You can also not create your own data splitter, and instead use `model_selection.cross_validate()` from sklearn. You'll need to ask for the train erros as well as the test errors, see [here](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_validate.html).
* Use prints in proper location to ensure the progress of the experiment.

**If you get stuck, and need refernce, scroll to the end of the notebook to see more hints!**

## Moons dataset

In [12]:
from sklearn.datasets import make_moons

In [13]:
moons_df = make_moons_dataframe(n_samples=1000, noise_level=0.1)
moons_df.head()

          x         y label
0  0.552235  0.831124     A
1  0.828307 -0.527616     B
2  1.721499 -0.049019     B
3  0.450451  0.827117     A
4  0.099954  0.961871     A

In [14]:
@widgets.interact
def plot_noisy_moons(noise_level = widgets.FloatSlider(value=0, min=0, max=0.5, step=0.05)):
    moons_df = make_moons_dataframe(n_samples=1000, noise_level=noise_level)
    return px.scatter(moons_df, x='x', y='y', color = 'label')

interactive(children=(FloatSlider(value=0.0, description='noise_level', max=0.5, step=0.05), Output()), _dom_c

## Circles Dataset

In [15]:
circles_df = make_circles_dataframe(n_samples=500, noise_level=0)
circles_df.head()

          x         y label
0 -0.070281  0.796907     B
1 -0.701045 -0.385403     B
2  0.763892  0.237633     B
3  0.332820 -0.942991     A
4 -0.691139  0.402899     B

In [16]:
@widgets.interact
def plot_noisy_circles(noise_level = widgets.FloatSlider(value=0, min=0, max=0.5, step=0.05)):
    df = make_circles_dataframe(1000, noise_level)
    return px.scatter(df, x='x', y='y', color = 'label')

interactive(children=(FloatSlider(value=0.0, description='noise_level', max=0.5, step=0.05), Output()), _dom_c

## Appendix

### More hints!

If you'll build the datasets dataframe correctly, you'll have **one** dataframe that has dataset_name and noise_level colmuns, as well as the regular x,y,label colmns. To unsure you've appended everything correctly, groupby the proper colmuns and look at the size:

In [17]:
# Use proper groupby statement to ensure the datasets dataframe contains data as expected. You should see the following result:

Your

You experiment code should look something like that:

In [19]:
datasets_type = ['circles', 'moons']
k_folds = 10
n_samples = [10, 50, 100, 1000, 10000]
noise_levels = [0, 0.1, 0.2, 0.3, 0.4, 0.5]
clf_types = ['log_reg', 'svm']
hp_range = <'Your hyper parameters ranges here'>
regularization_values = <'Your regularization values here'>
results = []
for ds_type in datasets_type:
    print(f'Working on {ds_type}')
    for nl in noise_levels:
        for n in n_samples:
            ds = datasets.query(<'your query here'>).head(n)
            print(f'Starting {k_folds}-fold cross validation for {ds_type} datasets with {n} samples and noise level {nl}. Going to train {clf_types} classifiers.')
            for k in range(k_folds):
                X, Y = <'Your code here'>
                x_train,x_test,y_train,y_test= <'Your code here'>
                for clf_type in clf_types:
                    if clf_type == 'log_reg':
                        for regularization_value in regularization_values:
                            train_acc, test_acc = <'Your code here'>
                            results.append(<'Your code here'>)
                    if clf_type == 'svm':
                        for gamma in hp_range:
                            train_acc, test_acc = <'Your code here'>
                            results.append(<'Your code here'>)